<section class="contact-us mt-4">
  <div class="overlay"></div>

  <div class="container">
    <div class="content py-4">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure itaque placeat consequuntur natus est nostrum
        quasi aliquam aspernatur! Adipisci, dolore illo. Ipsa corporis cumque cum voluptate aliquam esse magnam
        consectetur?</p>
      <form class="mt-4">
        <input type="text" placeholder="Name">
        <br>
        <input type="text" placeholder="Phone Number">
        <br>
        <input type="email" placeholder="Email">
        <br>
        <textarea placeholder="Your Message" cols="30" rows="10"></textarea>
        <button type="button">Send</button>
      </form>
    </div>
  </div>
</section>
