<app-head-slider
  [data]="{photo:'./assets/images/conceptual-hand-writing-showing-our-services-concept-meaning-occupation-function-serving-intangible-products-male-wear-160644151.webp',title:singleServices?.title,description:''}"></app-head-slider>

<div class="container">

  <div class="row py-5 item">
    <div class="col-lg-6 col-md-12">
      <div class="photo">
        <img [src]="singleServices?.img" alt="">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 pe-5">
      <h2>{{singleServices?.title}}</h2>
      <p>
        {{singleServices?.description}}
      </p>

      <h5> {{singleServices?.key}}:</h5>
      <ul>
        <li *ngFor="let item of singleServices?.benefits">{{item}}</li>
      </ul>
    </div>
  </div>
</div>


<section class="review">
  <div class="container">
    <q>
      We help your business achieve real digital transformation with enterprise-level web development, web design, and
      migration services.
    </q>
    <h5 class="mt-5">Marc DeVincent</h5>
    <h5>Founder @ The Life Writer</h5>
  </div>
</section>

<app-partner></app-partner>

<app-contact-us-form></app-contact-us-form>
