<div class="head">
  <div class="overlay"></div>
  <video autoplay loop preload="auto" muted playsinline class="back-video" onloadedmetadata="this.muted = true">
    <source src="assets/images/music-festival-applause.mp4" type="video/mp4" />
  </video>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="info">
            <p>asjdk asjdbjas jasd</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="details mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellat error aperiam natus tenetur
            blanditiis quidem nisi sunt labore ratione assumenda culpa animi fugiat, hic facere voluptate tempore,
            laborum officia.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
