<app-head-slider
  [data]="{photo:'./assets/images/header-pics.webp',title:'Our Services',description:''}"></app-head-slider>
<div class="container">
  <ul>
    <li *ngFor="let item of allServices;let e=even;let i=index" class="item wow mt-5"
      [ngClass]="{'bounceInRight':!e,'bounceInLeft':e}" [routerLink]="'/service/'+(i+1)">

      <ng-container *ngIf="e; else elseBlock">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="photo">
              <img [src]="item?.img" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 pe-5">
            <h2>{{item.title}}</h2>
            <p>
              {{item.description}}
            </p>
          </div>
        </div>
      </ng-container>
      <ng-template #elseBlock>
        <div class="row">
          <div class="col-lg-6 col-md-12 ps-5">
            <h2>{{item.title}}</h2>
            <p>
              {{item.description}}
            </p>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="photo">
              <img [src]="item?.img" alt="">
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
<app-partner></app-partner>
<app-contact-us-form></app-contact-us-form>
