<app-head-slider [data]="{photo:'./assets/images/about.jpg',title:'About Us',description:''}"></app-head-slider>

<div class="container">
  <div class="row my-5">
    <div class="col-lg-6 wow bounceInLeft">
      <div class="photo">
        <img src="assets/images/photo-about.png" alt="">
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center flex-column wow bounceInRight">
      <div>
        <h2>About Us</h2>
        <p>
          Here, I focus on a range of items and features that we use in life without giving them a second thought. such
          as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          Welcome to NetServeIT, where innovation meets reliability.Our journey began with a vision to transform
          technology into a catalyst for business success. Over the years, we have grown into a team of dedicated
          professionals, each bringing unique expertise and a shared commitment to excellence.
          Our mission is simple: to empower businesses with cutting-edge technology solutions tailored to their
          specific needs. We believe in the power of technology to drive growth, enhance efficiency, and unlock new
          opportunities. Whether you're a small startup or a large enterprise, we offer a comprehensive range of
          services designed to support your digital transformation journey.
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 d-flex justify-content-center flex-column wow bounceInLeft">
      <div>
        <h2>Our Mission</h2>
        <p>
          At Hops & Barley, our mission is clear: to brew exceptional, locally inspired beers that celebrate the unique
          character of our town. We're committed to using the finest, locally sourced ingredients and time-honored
          brewing techniques to create brews that are as distinctive as they are delicious. Beyond our passion for
          brewing, we aim to be a welcoming hub for beer enthusiasts, creating a space for connection, conversation, and
          community. Our mission is to share the joy of craft brewing, one pint at a time, as we raise our glasses to
          the incredible people who make this place so special.
        </p>
      </div>
    </div>
    <div class="col-lg-6 wow bounceInRight">
      <div class="photo">
        <img src="assets/images/photo-about.png" alt="">
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-6 wow bounceInLeft">
      <div class="photo">
        <img src="assets/images/photo-about.png" alt="">
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center flex-column wow bounceInRight">
      <div>
        <h2>Our Goals</h2>
        <p>
          It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual
          Game, it has been achieving great heights so far as its popularity and technological advancement are
          concerned. The history of video game is as interesting as a fairy tale.

          The quality of today’s video game was not at all there when video game first conceptualized and played ever.
          During the formulative years, video games were created by using various interactive electronic devices with
          various display formats. The first ever video game was designed in 1947 by Thomas T. Goldsmith Jr.
        </p>
      </div>
    </div>
  </div>
</div>

<app-contact-us-form></app-contact-us-form>
