$text-color: #585858;
$text-dark: #383535;
$yellow: #ffde2b;
$dark-gray: #707070;
$dark-green: #2d5f4f;
$semi-dark-green: #7fb283;
$light-green: #7fb283;
$light-gray: #a1a1a1;
$light-color: #eaefed;
$pink: #e31c68;

$main-color:#25243E;
